<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>

<head>
	<title>Chatbot</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
</head>

<body>
	<div class="container-fluid h-100">
		<div class="row justify-content-center h-100">
			<div class="col-lg-12 col-xl-6 chat">
				<div class="card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="img_cont">
								<img width="32" height="32" src="https://img.icons8.com/nolan/64/bot.png" alt="bot"
									class="rounded-circle user_img">
								<span class="online_icon"></span>
							</div>
							<div class="user_info">
								<span>ChatBot</span>
								<p>Asisten spesialis perbaikan printer</p>
							</div>
						</div>
					</div>
					<div id="messageFormeight" class="card-body msg_card_body">


					</div>
					<div class="card-footer">
						<form id="messageArea" class="input-group">
							<input type="text" id="text" name="msg" placeholder="Ketik pesan anda..." autocomplete="off"
								class="form-control type_msg" required />
							<div class="input-group-append">
								<button type="submit" id="send" class="input-group-text send_btn"><i
										class="fas fa-location-arrow"></i></button>
							</div>
							<div class="input-group-append"><button type="button" id="rec"
									class="btn btn-primary btn-circle btn-sm"><i class="fas fa-microphone"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center h-100">
			<div class="col-lg-6 col-xl-6 chat">
				<div class="tokenizing_card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="user_info">
								<span>Tokenization</span>
								<p>Asisten spesialis perbaikan printer</p>
							</div>
						</div>
					</div>
					<div id="tokenFormeight" class="card-body msg_card_body">


					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-6 chat">
				<div class="tokenizing_card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="user_info">
								<span>Stemming & Lemmatization</span>
								<p>Asisten spesialis perbaikan printer</p>
							</div>
						</div>
					</div>
					<div id="stemFormeight" class="card-body msg_card_body">


					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-6 chat">
				<div class="tokenizing_card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="user_info">
								<span>Stop Words Removal</span>
								<p>Asisten spesialis perbaikan printer</p>
							</div>
						</div>
					</div>
					<div id="stopwordFormeight" class="card-body msg_card_body">


					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-6 chat">
				<div class="tokenizing_card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="user_info">
								<span>Part-Of-Speech Tagging</span>
								<p>Asisten spesialis perbaikan printer</p>
							</div>
						</div>
					</div>
					<div id="postagFormeight" class="card-body msg_card_body">


					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-6 chat">
				<div class="tokenizing_card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="user_info">
								<span>Top-Down Parsing</span>
								<p>Asisten spesialis perbaikan printer</p>
							</div>
						</div>
					</div>
					<div id="messageFormeight" class="card-body msg_card_body">


					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-6 chat">
				<div class="tokenizing_card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="user_info">
								<span>Bottom-Up Parsing</span>
								<p>Asisten spesialis perbaikan printer</p>
							</div>
						</div>
					</div>
					<div id="messageFormeight" class="card-body msg_card_body">


					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-6 chat">
				<div class="tokenizing_card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="user_info">
								<span>Logical Form</span>
								<p>Asisten spesialis perbaikan printer</p>
							</div>
						</div>
					</div>
					<div id="logicalFormeight" class="card-body msg_card_body">


					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-6 chat">
				<div class="tokenizing_card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="user_info">
								<span>Thematic Roles</span>
								<p>Asisten spesialis perbaikan printer</p>
							</div>
						</div>
					</div>
					<div id="themeroleFormeight" class="card-body msg_card_body">


					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			$("#messageArea").on("submit", function (event) {
				const date = new Date();
				const hour = date.getHours();
				const minute = date.getMinutes();
				const time = hour + ":" + minute;
				var user_input = $("#text").val();
				var bot_reply;
				var tokenize_res;
				var stemmed_res;
				var removed_stopword;
				var pos_tag;
				var top_down;
				var theme_role;
				var logical_form;

				$("#text").val("");

				var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + user_input + '<span class="msg_time_send">' + time +
					'</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';

				$("#messageFormeight").append(userHtml);

				// $.ajax({
				// 	data: {
				// 		msg: user_input,
				// 	},
				// 	type: "POST",
				// 	url: "/get",
				// }).done(function (data) {
				// 	var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + time + '</span></div></div>';
				// 	$("#messageFormeight").append($.parseHTML(botHtml));
				// });

				$.when(
					$.ajax({
						data: {
							msg: user_input,
						},
						type: "POST",
						url: "/get",
						success: function (data) {
							bot_reply = data;
							$.ajax({
								data: {
									text: user_input,
								},
								type: "POST",
								url: "/tokenize",
								crossDomain: true,
								success: function (data) {
									tokenize_res = data;
									$("#tokenFormeight").empty();
									for (let index = 0; index < tokenize_res.length; index++) {
										var tokenHTML = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + tokenize_res[index] + '<span class="msg_time">' + time + '</span></div></div>';
										$("#tokenFormeight").append($.parseHTML(tokenHTML));
									}
									$.ajax({
										data: {
											token_list: JSON.stringify(tokenize_res),
										},
										type: "POST",
										url: "/stem",
										crossDomain: true,
										success: function (data) {
											stemmed_res = data;
											$("#stemFormeight").empty();
											for (let index = 0; index < stemmed_res.length; index++) {
												var stemHTML = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + stemmed_res[index] + '<span class="msg_time">' + time + '</span></div></div>';
												$("#stemFormeight").append($.parseHTML(stemHTML));
											}
											$.ajax({
												data: {
													stem_list: JSON.stringify(stemmed_res),
												},
												type: "POST",
												url: "/stopword-removal",
												crossDomain: true,
												success: function (data) {
													removed_stopword = data;
													$("#stopwordFormeight").empty();
													for (let index = 0; index < removed_stopword.length; index++) {
														var stopwordHTML = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + stemmed_res[index] + '<span class="msg_time">' + time + '</span></div></div>';
														$("#stopwordFormeight").append($.parseHTML(stopwordHTML));
													}
													$.ajax({
														data: {
															filtered_list: JSON.stringify(removed_stopword),
														},
														type: "POST",
														url: "/pos-tagging",
														crossDomain: true,
														success: function (data) {
															pos_tag = data;
															$("#postagFormeight").empty();
															for (let index = 0; index < removed_stopword.length; index++) {
																var postagHTML = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + pos_tag[index] + '<span class="msg_time">' + time + '</span></div></div>';
																$("#postagFormeight").append($.parseHTML(postagHTML));
															}
															$.ajax({
																data: {
																	clean_list: JSON.stringify(removed_stopword),
																},
																type: "POST",
																url: "/parser",
																crossDomain: true,
																success: function (data) {
																	top_down = data;
																	// $("#topdownFormeight").empty();
																	// for (let index = 0; index < removed_stopword.length; index++) {
																	// 	var topdownHTML = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + top_down[index] + '<span class="msg_time">' + time + '</span></div></div>';
																	// 	$("#topdownFormeight").append($.parseHTML(topdownHTML));
																	// }
																	$.ajax({
																		data: {
																			sentence: user_input,
																		},
																		type: "POST",
																		url: "/themerole",
																		crossDomain: true,
																		success: function (data) {
																			theme_role = data;
																			$("#themeroleFormeight").empty();
																			for (let index = 0; index < theme_role.length; index++) {
																				var themeroleHTML = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + theme_role[index] + '<span class="msg_time">' + time + '</span></div></div>';
																				$("#themeroleFormeight").append($.parseHTML(themeroleHTML));
																			}
																			$.ajax({
																				data: {
																					sentence: user_input,
																				},
																				type: "POST",
																				url: "/logical",
																				crossDomain: true,
																				success: function (data) {
																					logical_form = data;
																					$("#logicalFormeight").empty();
																						var logicalHTML = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + logical_form + '<span class="msg_time">' + time + '</span></div></div>';
																						$("#logicalFormeight").append($.parseHTML(logicalHTML));
																				}
																			});
																		}
																	});
																}
															});
														}
													});
												}
											});
										}
									});
								}
							});
						}
					})
				).then(function () {
					var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + bot_reply + '<span class="msg_time">' + time + '</span></div></div>';
					$("#messageFormeight").append($.parseHTML(botHtml));
				});
				event.preventDefault();
			});

			$(function () {
				$("button#rec").on("click", function (e) {
					const date = new Date();
					const hour = date.getHours();
					const minute = date.getMinutes();
					const time = hour + ":" + minute;
					$.getJSON("/get-mic-input", function (data) {
						var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + data.text + '<span class="msg_time_send">' + time +
							'</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';

						$("#messageFormeight").append(userHtml);

						$.ajax({
							data: {
								msg: data.text,
							},
							type: "POST",
							url: "/get",
						}).done(function (data) {
							var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + time + '</span></div></div>';
							$("#messageFormeight").append($.parseHTML(botHtml));
						});
					});

					event.preventDefault();
				});
			});
		});
	</script>
</body>

</html>